[submodule "packages/atomic-emacs"]
	path = packages/atomic-emacs
	url = git@github.com:zhenwenc/atomic-emacs.git
[submodule "packages/linter"]
	path = packages/linter
	url = https://github.com/atom-community/linter.git
[submodule "packages/linter-eslint"]
	path = packages/linter-eslint
	url = https://github.com/AtomLinter/linter-eslint.git
[submodule "packages/color-picker"]
	path = packages/color-picker
	url = https://github.com/thomaslindstrom/color-picker.git
[submodule "packages/docblockr"]
	path = packages/docblockr
	url = https://github.com/nikhilkalige/docblockr.git
[submodule "packages/atom-ternjs"]
	path = packages/atom-ternjs
	url = https://github.com/tststs/atom-ternjs.git
[submodule "packages/language-scala"]
	path = packages/language-scala
	url = https://github.com/atom-community/language-scala.git
[submodule "packages/git-plus"]
	path = packages/git-plus
	url = https://github.com/akonwi/git-plus.git
[submodule "packages/emmet-atom"]
	path = packages/emmet-atom
	url = https://github.com/emmetio/emmet-atom.git
