"*":
  "exception-reporting":
    userId: "88d3b2d0-db04-64e9-4e5f-c2956f95e58e"
  welcome:
    showOnStartup: false
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
  core:
    disabledPackages: [
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "emmet"
      "atom-ternjs"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  linter:
    errorPanelHeight: 24
  "atom-beautify":
    _analyticsUserId: "3598f5ac-f269-4901-9e0b-4d8ff31b7778"
  "highlight-line":
    enableBackgroundColor: false
