"*":
  "exception-reporting":
    userId: "88d3b2d0-db04-64e9-4e5f-c2956f95e58e"
  welcome:
    showOnStartup: false
  editor:
    fontSize: 13
    invisibles: {}
  core: {}
  "tree-view": {}
  linter: {}
